body {
  background: #127856;
  font-size: 1.2em;
}
.container {
  width: 300px;
  margin: 100px auto 0;
  background: white;
  border-radius: 20px;
}
form {
  overflow: auto;
  zoom: 1;
  padding: 20px;
}
input[type=number] {
  float: right;
  clear: right;
  margin: 10px 0;
  padding: 3px 6px;
}

button[type=submit] {
   float: left;
}

#result {
  float: right;
}

hr {
  clear: both;
  margin: 30px 0;
}
